*{margin: 0; padding: 0;}
#wrap {
  width: 600px;
  height: 600px;
  box-shadow: 0 0 5px;
  margin: 30px auto;
  border: 1px solid transparent;
}
h1 {
  text-align: center;
  height: 80px;
  line-height: 80px;
  background: tomato;
  color: white;
  border-bottom: 1px solid silver;
}
h2 {
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: tomato;
  border-bottom: 1px solid #eee;
}
.options {
  margin-left: 50px;
  min-height: 360px;
}
.option {
  width: 200px;
  height: 80px;
  margin: 20px;
  background: cadetblue;
  color: white;
  font-size: 23px;
  border-radius: 7px;
}
.option:hover {
  background: darkslategray;
  cursor: pointer;
}
footer {
  height: 80px;
  background: darkslategray;
  text-align: center;
  color: white;
}
#start {
  width: 140px;
  height: 50px;
  margin: 15px 10px;
  background: tomato;
  font-size: 22px;
  color: white;
  border: none;
  border-radius: 7px;
}
#start:hover {
  background: #c00;
  cursor: pointer;
}

.category {
  border: none;
  width: 147px;
  height: 20px;
  line-height: 20px ;
  margin: 0;
}
